@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

body,
html {
  /* margin: 0;
  padding: 0; */
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
}

.app-primary-color {
  color: #79589f;
}

nav,
.app-primary-bg-color {
  background-color: #79589f;
}

.card-body {
  padding: 0;
}

.border-bottom-1 {
  border-bottom: 1px solid #838383;
}

.card-subtitle {
  margin-top: 1rem;
}

.navbar-nav .nav-link,
.nabar-toggle {
  color: white;
  border-color: white;
}
